/* Navbar Styles */
.navbar {
  background-color: #2d3748; /* Fondo oscuro */
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  flex-wrap: wrap;
}

/* Enlaces */
.navbarLink, .navbarAdminLink {
  color: #63b3ed; /* Azul claro */
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}

.navbarLink:hover, .navbarAdminLink:hover {
  color: #3182ce; /* Azul más oscuro */
}

.navbarAdminLink {
  color: #ecc94b; /* Amarillo */
}

.navbarAdminLink:hover {
  color: #d69e2e; /* Amarillo oscuro */
}

/* Botón de Logout */
.navbarButton {
  background: none;
  border: none;
  color: #e53e3e; /* Rojo */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.navbarButton:hover {
  color: #c53030; /* Rojo oscuro */
}

/* Menú desplegable */
.navbarMenu {
  display: flex;
  flex-direction: row;
}

.navbarMenu.active {
  display: block; /* Se muestra el menú en pantallas pequeñas cuando el estado es activo */
}

.navbarMenuItem {
  margin-bottom: 1rem;
}

/* Estilos para la vista móvil */
@media (max-width: 768px) {
  .navbarContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Mostrar botón de menú en móvil */
  .navbarToggle {
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 2rem; /* Icono hamburguesa más grande */
  }

  .navbarLink, .navbarAdminLink {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .navbarButton {
    margin-top: 1rem;
  }

  /* Estilo para el menú desplegable */
  .navbarMenu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbarMenu.active {
    display: flex; /* Menú se muestra cuando el estado está activo */
  }
}

@media (max-width: 480px) {
  .navbarLink,
  .navbarAdminLink,
  .navbarButton {
    font-size: 1rem;
  }
}
