.navegador {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    background-color: #10df6d; 
    box-sizing: border-box;
    color: rgb(14, 13, 13);
    position: fixed; /* Mantiene el navegador fijo en la pantalla */
    left: 0;
    top: 0; /* Posiciona el navegador en la parte superior */
    height: 60px; /* Ajusta la altura deseada */
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 0 20px; /* Padding a los lados */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.menu {
    display: flex;
    gap: 15px; /* Espacio entre los enlaces */
}

.link-nav {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: rgb(54, 186, 219); /* Color del texto */
}

.navegador .logoimg{
    width: 50px;
    display: flex;
    align-items: center;
}
.navegador .logoimg img{
    width: 100%;
}


.navegador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoimg img {
    width: 100px; /* Ajusta según sea necesario */
}

.menu {
    position: relative;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px; /* Ajusta según sea necesario */
    background-color: white; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    box-shadow: 0 2px 8px rgba(209, 12, 12, 0.1); /* Sombra */
}



.link-nav:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}


